In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../data/phones.csv")

In [3]:
df = pd.DataFrame()

In [4]:
data.head()

,Unnamed: 0,Unnamed: 0.1,URL,Price,Marka,Model,İşletim Sistemi,Ön Kamera Çözünürlüğü,Arka Kamera Çözünürlüğü,Bellek Kapasitesi,...,5G Desteği,Yüz Tanıma,Toza Dayanıklılık Seviyesi,Suya Dayanıklılık Seviyesi,1.Yardımcı İşlemci,İkinci Ön Kamera Çözünürlüğü,Kamera Zoom,2.Yardımcı İşlemci,Beşinci Arka Kamera Çözünürlüğü,Dahili_Hafiza
0,0,0,https://www.n11.com/urun/samsung-galaxy-m51-du...,"4.999,00",Samsung,M51,Android,32 MP,64 MP,8 GB,...,Yok,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128.0
1,1,1,https://www.n11.com/urun/samsung-galaxy-m31-12...,"3.239,00",Samsung,Galaxy M31,Android,32 MP,64 MP,6 GB,...,Yok,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128.0
2,2,2,https://www.n11.com/urun/samsung-galaxy-m21-du...,"2.609,90",Samsung,Galaxy M21 Duos,Android,20 MP,48 MP,4 GB,...,NaN,Var,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0
3,3,3,https://www.n11.com/urun/xiaomi-poco-x3-nfc-12...,"3.790,00",Xiaomi,X3 NFC,Android,20 MP,64 MP,6 GB,...,NaN,Var,IP5X,IPX3,Hexa-core 1.8 GHz ARM Cortex-A55,NaN,NaN,NaN,NaN,128.0
4,4,4,https://www.n11.com/urun/xiaomi-redmi-note-9-p...,"3.715,00",Xiaomi,Redmi Note 9 Pro,Android,16 MP,64 MP,6 GB,...,Yok,Var,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128.0

In [5]:
df['Marka'] = data['Marka']
df['Model'] = data['Model']
df['Isletim_Sistemi'] = data['İşletim Sistemi']
df['Dahili_Hafiza'] = data['Dahili_Hafiza']
df['On_Kamera_Cozunurlugu'] = data['Ön Kamera Çözünürlüğü']
df['Arka_Kamera_Cozunurlugu'] = data['Arka Kamera Çözünürlüğü']
df['Bellek_Kapasitesi'] = data['Bellek Kapasitesi']
df['Batarya_Kapasitesi'] = data['Batarya Kapasitesi']
df['Fiyat'] = data['Price']

In [6]:
df.head()

,Marka,Model,Isletim_Sistemi,Dahili_Hafiza,On_Kamera_Cozunurlugu,Arka_Kamera_Cozunurlugu,Bellek_Kapasitesi,Batarya_Kapasitesi,Fiyat
0,Samsung,M51,Android,128.0,32 MP,64 MP,8 GB,7000 mAh,"4.999,00"
1,Samsung,Galaxy M31,Android,128.0,32 MP,64 MP,6 GB,6000 mAh,"3.239,00"
2,Samsung,Galaxy M21 Duos,Android,64.0,20 MP,48 MP,4 GB,6000 mAh,"2.609,90"
3,Xiaomi,X3 NFC,Android,128.0,20 MP,64 MP,6 GB,5160 mAh,"3.790,00"
4,Xiaomi,Redmi Note 9 Pro,Android,128.0,16 MP,64 MP,6 GB,5020 mAh,"3.715,00"

In [7]:
for i in range(0,100):
    df["Fiyat"] = df.Fiyat.str.replace(',{}'.format(i), '')

df["Fiyat"] = df.Fiyat.str.replace(',00'.format(i), '')
df["Fiyat"] = df.Fiyat.str.replace(',01'.format(i), '')
df["Fiyat"] = df.Fiyat.str.replace(',02'.format(i), '')
df["Fiyat"] = df.Fiyat.str.replace(',03'.format(i), '')
df["Fiyat"] = df.Fiyat.str.replace(',04'.format(i), '')
df["Fiyat"] = df.Fiyat.str.replace(',05'.format(i), '')
df["Fiyat"] = df.Fiyat.str.replace(',06'.format(i), '')
df["Fiyat"] = df.Fiyat.str.replace(',07'.format(i), '')
df["Fiyat"] = df.Fiyat.str.replace(',08'.format(i), '')
df["Fiyat"] = df.Fiyat.str.replace(',09'.format(i), '')
df["Fiyat"] = df.Fiyat.str.replace('.', '')
df["Fiyat"] = df.Fiyat.astype(float)

In [8]:
df

,Marka,Model,Isletim_Sistemi,Dahili_Hafiza,On_Kamera_Cozunurlugu,Arka_Kamera_Cozunurlugu,Bellek_Kapasitesi,Batarya_Kapasitesi,Fiyat
0,Samsung,M51,Android,128.0,32 MP,64 MP,8 GB,7000 mAh,49990.0
1,Samsung,Galaxy M31,Android,128.0,32 MP,64 MP,6 GB,6000 mAh,32390.0
2,Samsung,Galaxy M21 Duos,Android,64.0,20 MP,48 MP,4 GB,6000 mAh,26090.0
3,Xiaomi,X3 NFC,Android,128.0,20 MP,64 MP,6 GB,5160 mAh,37900.0
4,Xiaomi,Redmi Note 9 Pro,Android,128.0,16 MP,64 MP,6 GB,5020 mAh,37150.0
...,...,...,...,...,...,...,...,...,...
1819,Oppo,Realme C3i Duos,Android,32.0,NaN,12 MP,2 GB,5000 mAh,24990.0
1820,Casper,VIA.X20,Android 10 (Q),128.0,25 MP,48 MP,6 GB,4510 mAh,33810.0
1821,Oppo,A5s,Android,32.0,8 MP,13 MP,3 GB,4230 mAh,21990.0
1822,Tcl,10 PLUS,Android,64.0,16 MP,48 MP,6 GB,4500 mAh,39990.0
1823,Oppo,A31,Android,64.0,8 MP,12 MP,4 GB,4230 mAh,25390.0

In [9]:
df["On_Kamera_Cozunurlugu"] = df.On_Kamera_Cozunurlugu.str.replace('MP', '')
df["Arka_Kamera_Cozunurlugu"] = df.Arka_Kamera_Cozunurlugu.str.replace('MP', '')
df["Bellek_Kapasitesi"] = df.Bellek_Kapasitesi.str.replace('GB', '')
df["Batarya_Kapasitesi"] = df.Batarya_Kapasitesi.str.replace('mAh', '')
df["Batarya_Kapasitesi"] = df.Batarya_Kapasitesi.str.replace('mAH ve üzeri', '')
df["Fiyat"] = df.Fiyat.astype(str)
df["Fiyat"] = df.Fiyat.str.replace('0.0', '')

In [10]:
df

,Marka,Model,Isletim_Sistemi,Dahili_Hafiza,On_Kamera_Cozunurlugu,Arka_Kamera_Cozunurlugu,Bellek_Kapasitesi,Batarya_Kapasitesi,Fiyat
0,Samsung,M51,Android,128.0,32,64,8,7000,4999
1,Samsung,Galaxy M31,Android,128.0,32,64,6,6000,3239
2,Samsung,Galaxy M21 Duos,Android,64.0,20,48,4,6000,26.0
3,Xiaomi,X3 NFC,Android,128.0,20,64,6,5160,3790
4,Xiaomi,Redmi Note 9 Pro,Android,128.0,16,64,6,5020,3715
...,...,...,...,...,...,...,...,...,...
1819,Oppo,Realme C3i Duos,Android,32.0,NaN,12,2,5000,2499
1820,Casper,VIA.X20,Android 10 (Q),128.0,25,48,6,4510,3381
1821,Oppo,A5s,Android,32.0,8,13,3,4230,2199
1822,Tcl,10 PLUS,Android,64.0,16,48,6,4500,3999
1823,Oppo,A31,Android,64.0,8,12,4,4230,2539

In [11]:
df["On_Kamera_Cozunurlugu"] = df.On_Kamera_Cozunurlugu.astype(float)
df["Arka_Kamera_Cozunurlugu"] = df.Arka_Kamera_Cozunurlugu.astype(float)
df["Bellek_Kapasitesi"] = df.Bellek_Kapasitesi.astype(float)
df["Batarya_Kapasitesi"] = df.Batarya_Kapasitesi.astype(float)
df["Fiyat"] = df.Fiyat.astype(float)

In [12]:
df.head()

,Marka,Model,Isletim_Sistemi,Dahili_Hafiza,On_Kamera_Cozunurlugu,Arka_Kamera_Cozunurlugu,Bellek_Kapasitesi,Batarya_Kapasitesi,Fiyat
0,Samsung,M51,Android,128.0,32.0,64.0,8.0,7000.0,4999.0
1,Samsung,Galaxy M31,Android,128.0,32.0,64.0,6.0,6000.0,3239.0
2,Samsung,Galaxy M21 Duos,Android,64.0,20.0,48.0,4.0,6000.0,26.0
3,Xiaomi,X3 NFC,Android,128.0,20.0,64.0,6.0,5160.0,3790.0
4,Xiaomi,Redmi Note 9 Pro,Android,128.0,16.0,64.0,6.0,5020.0,3715.0

In [13]:
df.to_csv("../data/phones-to-presentation.csv",index=False)

In [173]:
X = df.iloc[:, 0:8].values
y = df.iloc[:, 8].values
y = y.reshape(-1, 1)

In [174]:
df['Model'].value_counts()

 Redmi Note 9       86
 iPhone 11          77
 Galaxy A11         71
 Galaxy A21S        71
 Mi Note 10 Lite    71
                    ..
 Galaxy A9           1
 Galaxy A10          1
 Via A2              1
 Y6P Duos            1
 iPhone 6S           1
Name: Model, Length: 178, dtype: int64

In [175]:
df['Isletim_Sistemi'].value_counts()

 Android           1483
 iOS                261
 Android 10 (Q)      56
 Android 10          10
Name: Isletim_Sistemi, dtype: int64

In [176]:
df['Marka'].value_counts()

 Samsung           444
 Xiaomi            368
 Oppo              312
 Apple             261
 Huawei            156
 Casper             65
 Tcl                56
 General Mobile     49
 Oppo Realme        24
 Reeder             19
 Vestel             16
 LG                 12
 Honor              10
 Alcatel             6
 Infinix             5
 Poco                5
 C5 Mobile           5
 Elephone            5
 Meizu               2
 Hiking              2
 Lenovo              1
 Turkcell            1
Name: Marka, dtype: int64

In [177]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

In [178]:
df['Marka'] = enc.fit_transform(df['Marka'])

In [179]:
df = df.drop(['Model'],axis=1)

In [180]:
df['Marka'].value_counts() # samsung:17,xiaomi:21,oppo:13,apple:1,huawei:8,casper:3,tcl:18,generalmobile:5,opporealme:14,reeder:16

17    444
21    368
13    312
1     261
8     156
3      65
18     56
5      49
14     24
16     19
20     16
10     12
7      10
0       6
9       5
4       5
15      5
2       5
6       2
12      2
11      1
19      1
Name: Marka, dtype: int64

In [181]:
df["Isletim_Sistemi"] = df.Isletim_Sistemi.str.replace(' ', '')

In [182]:
df['Isletim_Sistemi'] = df['Isletim_Sistemi'].replace(['iOS'],'1')
df['Isletim_Sistemi'] = df['Isletim_Sistemi'].replace(['Android','Android10','Android10(Q)'],'0')

In [183]:
df['Isletim_Sistemi'].value_counts()

0    1549
1     261
Name: Isletim_Sistemi, dtype: int64

In [184]:
print(df['Batarya_Kapasitesi'].mean())

4163.150301700493

In [185]:
print(df['Marka'].isnull().values.any())
print(df['Isletim_Sistemi'].isnull().values.any())
print(df['Dahili_Hafiza'].isnull().values.any())
print(df['On_Kamera_Cozunurlugu'].isnull().values.any())
print(df['Arka_Kamera_Cozunurlugu'].isnull().values.any())
print(df['Bellek_Kapasitesi'].isnull().values.any())
print(df['Batarya_Kapasitesi'].isnull().values.any())
print(df['Fiyat'].isnull().values.any())

False
True
False
True
True
True
True
False

In [186]:
df.Isletim_Sistemi.fillna(0,inplace=True)
df.On_Kamera_Cozunurlugu.fillna(12,inplace=True)
df.Arka_Kamera_Cozunurlugu.fillna(32,inplace=True)
df.Bellek_Kapasitesi.fillna(4,inplace=True)
df.Batarya_Kapasitesi.fillna(4000,inplace=True)

In [187]:
print(df['Marka'].isnull().values.any())
print(df['Isletim_Sistemi'].isnull().values.any())
print(df['Dahili_Hafiza'].isnull().values.any())
print(df['On_Kamera_Cozunurlugu'].isnull().values.any())
print(df['Arka_Kamera_Cozunurlugu'].isnull().values.any())
print(df['Bellek_Kapasitesi'].isnull().values.any())
print(df['Batarya_Kapasitesi'].isnull().values.any())
print(df['Fiyat'].isnull().values.any())

False
False
False
False
False
False
False
False

In [188]:
df

,Marka,Isletim_Sistemi,Dahili_Hafiza,On_Kamera_Cozunurlugu,Arka_Kamera_Cozunurlugu,Bellek_Kapasitesi,Batarya_Kapasitesi,Fiyat
0,17,0,128.0,32.0,64.0,8.0,7000.0,4999.0
1,17,0,128.0,32.0,64.0,6.0,6000.0,3239.0
2,17,0,64.0,20.0,48.0,4.0,6000.0,26.0
3,21,0,128.0,20.0,64.0,6.0,5160.0,3790.0
4,21,0,128.0,16.0,64.0,6.0,5020.0,3715.0
...,...,...,...,...,...,...,...,...
1819,13,0,32.0,12.0,12.0,2.0,5000.0,2499.0
1820,3,0,128.0,25.0,48.0,6.0,4510.0,3381.0
1821,13,0,32.0,8.0,13.0,3.0,4230.0,2199.0
1822,18,0,64.0,16.0,48.0,6.0,4500.0,3999.0
1823,13,0,64.0,8.0,12.0,4.0,4230.0,2539.0

In [189]:
df.to_csv("../data/phones-fill-training.csv",index=False)